.image{
    background-image: url(./img/front\ page.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}
.content{
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: red;
    margin-top: 25px;
    /* border-bottom: 2px solid red; */
    font-weight: bold;
}
h3{
    margin-bottom: 30px;
    font-weight: bold;
}
.bga{
    background-color: transparent;
}
/* .link{
    font-size: 1.5rem;
    color: black;


} */
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font-size{
    font-size: 1.2rem;
    color: grey;
    /* width: 80%;
    margin: auto; */
}
.borde{
    border-bottom: 2px solid red;
    width: 20%;
    margin: auto;
    margin-top: 20px;
}
span{
    color: grey;
}
.content2s{
    margin-left: 300px;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font{
    font-size: 1.2rem;
    color: grey;
    text-align: justify;
    text-align-last: center;
    
    width: 60%;
    margin: auto;
}
/* end */
.li{
    background-image: url(./img/food8.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 120vh;
}
.ma{
    color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    font-weight: bolder;
}
.w{
    width: 30%;
    margin: auto;
}
.logo{
    font: 1.5rem;
}
@media screen and (max-width:640px){
   .simg{
       width: 90%;
   }
   .font-size{
       font-size: 0.9rem;
       margin-right: 3vh;
   } 
   .smar{
       margin-right: 4vh;

   }
   #smars{
       margin-right: 23vh;

   }
   .smg{
       width: 23%;
       margin-left: 17vh;

   }
   .sfon{
       font-size: 0.3rem;

   }
   .smg2{
       width: 85%;

   }
   .s2s{
       margin-left: -1vh;
       font-size: 0.3rem;
   }.smg3{
       width: 45vh;
   }
   .logo{
       display: none;
   }
}